#root {
  min-height: 100vh;
  background: #E5E5E5;

}
.App {
  font-family: Inter;
  min-height: 100vh;
  padding: 20px 100px;
}

@media only screen and (max-width: 500px) {
  .App {
    padding: 15px 45px;
  }
}
